<!DOCTYPE html>
<html>
    <head>
        <title>Openbooks</title>
        <link rel="stylesheet" href="/css/tabs.css">
    </head>
    <body>
        <ul>
			<li><a href="/">Home</a></li>
			<li><a href="tab0">Tab_0</a></li>
			<li><a href="tab1">Tab_1</a></li>
			<li><a class="active" href="tab2">Tab_2</a></li>
			<li><a href="tab3">Tab_3</a></li>
		  </ul>
		  
		  <div class="main">
			<h1>This is Openbooks Tab_2</h1>
			<h3>Wow!</h3>
			<p>We put stuff in here!</p>
		  </div>
    </body>
</html>