<!DOCTYPE html>
<html>
    <head>
        <title>Openbooks</title>
        <link rel="stylesheet" href="/css/tabs.css">
    </head>
    <body>
        <ul>
			<li><a class="active" href="/">Home</a></li>
			<li><a href="tab0">Tab_0</a></li>
			<li><a href="tab1">Tab_1</a></li>
			<li><a href="tab2">Tab_2</a></li>
			<li><a href="tab3">Tab_3</a></li>
		</ul>
		  
		<div class="main">
			<h1>Welcome To<br />Openbooks</h1>
			<h3>Please use our login!</h3>
			<a href="login" class="logInBtn">Login</a>
		</div>
    </body>
</html>