<!DOCTYPE html>
<html>
<head>
    <title>Openbooks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='tabs.css') }}">
</head>
<body>
        <ul>

            <li><a href="/">Log Out</a></li>  </li>
            <li><a href="/home">Home</a></li>
            <li><a href="/overlook">Overlook</a></li>
            <li><a class="active" href= "/balance_sheet">Balance Sheet</a></li>
            <li><a href="/tab_3">Account</a></li>
            <li><a href="/tab_4">Income Statement</a></li>
            <li><a href="/tab_5">Employees</a></li>
            <li><a href="/tab_6">Transactions</a></li>
        </ul>
    
    
    <div class="main">
        <!-- CSV Upload Form -->

        <h1>Balance Sheets</h1>
        <form>
            <h1>Balance Sheet Input</h1>
            <input type="file" name="csvFile" id="csvFile" accept=".csv">
            <button type="button" id="genBalanceSheet">Generate Balance Sheet</button>
        </form>
    </div>

    <script>
        const boop = document.getElementById("genBalanceSheet");
        boop.addEventListener("click", genAlert);
        function genAlert() {
            alert("Balance Sheet Generating");
        }
    </script>
</body>
</html>

