<!DOCTYPE html>
<html>
    <head>
        <title>Openbooks</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='tabs.css') }}">
    </head>
    <body>
        <ul>
            <li><a href="/">Login</a></li>  </li>
            <li><a href="/home">Home</a></li>
            <li><a href="/overlook">Overlook</a></li>
            <li><a href="/balance_sheet">Balance Sheet</a></li>
            <li><a href="/tab_3">Account</a></li>
            <li><a class="active" href="/tab_4">Income Statement</a></li>
            <li><a href="/tab_5">Employees</a></li>
            <li><a href="/tab_6">INPUT CSV</a></li>
        </ul>

		<div class="main">
			<h1>Income Statement</h1>
			<form id="addAccountForm">
                <h1>Statement Generation</h1>
                <button class="mid" type="button" id="genStatementBtn">Generate</button>
            </form>
		</div>

        <script>
            const boop = document.getElementById("genStatementBtn");
            boop.addEventListener("click", genStatement);
            function genStatement() {
                alert("Generating Statement");
            }
        </script>
    </body>
</html>
