<!DOCTYPE html>
<html>
    <head>
        <title>Openbooks</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='tabs.css') }}">
    </head>
    <body>
        <ul>
            <li><a href="/">Log Out</a></li>  </li>
            <li><a href="/home">Home</a></li>
            <li><a href="/overlook">Overlook</a></li>
            <li><a href="/balance_sheet">Balance Sheet</a></li>
            <li><a href="/tab_3">Account</a></li>
            <li><a href="/tab_4">Income Statement</a></li>
            <li><a class="active" href="/tab_5">Employees</a></li>
            <li><a href="/tab_6">Transactions</a></li>
        </ul>

		<div class="main">
			<h1>Employees</h1>
			<form id="addAccountForm">
                <h1>Employee Generation</h1>
                <label for="empName">Full Name:</label>
                <input type="text" id="empName" name="emp_name" required>
                <p></p>
                <label for="empPhone">Phone Number:</label>
                <input type="text" id="empPhone" name="emp_phone" required>
                <p></p>
                <label for="empSal">Salary:</label>
                <input type="text" id="empSal" name="emp_sal" required>
                <p></p>
                <label for="empType">Employee Type:</label>
                <select id="empType" name="emp_type" required>
                    <option value="W2">W2</option>
                    <option value="1099">1099</option>
                </select>
                <p></p>
                <button type="button" id="genEmployeeBtn">Add</button>
            </form>
		</div>

        <script>
            const boop = document.getElementById("genEmployeeBtn");
            boop.addEventListener("click", genStatement);
            function genStatement() {
                alert("Adding Employee");
                //DISPLAY MUST BE WORKED ON
            }
        </script>
    </body>
</html>
