<!DOCTYPE html>
<html>
    <head>
        <title>Openbooks</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='tabs.css') }}">
    </head>
    <body>
        <ul>
            <li><a href="/">Log Out</a></li>  </li>
            <li><a href="/home">Home</a></li>
            <li><a class="active"  href="/overlook">Overlook</a></li>
            <li><a href="/balance_sheet">Balance Sheet</a></li>
            <li><a href="/tab_3">Account</a></li>
            <li><a href="/tab_4">Income Statement</a></li>
            <li><a href="/tab_5">Employees</a></li>
            <li><a href="/tab_6">Transactions</a></li>
        </ul>

		<div class="main">
			<h1>Corporate Overlook</h1>
			<h3>Openbooks is where your company thrives</h3>
			<p>Unless you're Intuit...</p>
            <iframe src="https://quickbooks.intuit.com/oa/get-quickbooks/?cid=ppc_G_e_US_.QBO_US_GGL_Brand_Core_Search_Desktop_WP._quickbooks_txt&agid=58700008192086824&infinity=ict2~net~gaw~ar~638827855093~kw~quickbooks~mt~e~cmp~QBO_US_GGL_Brand_Core_Search_Desktop_WP~ag~Core&gad_source=1&gclid=Cj0KCQiAx9q6BhCDARIsACwUxu6yfGFrKDzc4jwVpqYZRBPn5A1400nX0YM2Y-b_jbzNC4QkC9WLZ9caAtMhEALw_wcB&gclsrc=aw.ds"  height="700" width="600"></iframe>
		</div>
    </body>
</html>
