<!DOCTYPE html>
<html>
    <head>
        <title>Openbooks</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='tabs.css') }}">

    </head>
    <body>
        <ul>
            <li><a href="/">Login</a></li>  </li>
            <li><a class="active" href="/home">Home</a></li>
            <li><a href="/overlook">Overlook</a></li>
            <li><a href="/balance_sheet">Balance Sheet</a></li>
            <li><a href="/tab_3">Account</a></li>
            <li><a href="/tab_4">Income Statement</a></li>
            <li><a href="/tab_5">Employees</a></li>
            <li><a href="/tab_6">Transactions</a></li>
        </ul>
		  
		  <div class="main">
			<h1>Openbooks</h1>
			<h3>HOMEPAGE</h3>
			<p>Welcome to the Openbooks platorm!</p>
			<p>Please navigate to whichever tab suits you</p>
		  </div>
    </body>
</html>
