<!DOCTYPE html>
<html>
    <head>
        <title>Openbooks</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='tabs.css') }}">
    </head>
    <body>
        <ul>
            <li><a href="/">Log Out</a></li>  </li>
            <li><a href="/home">Home</a></li>
            <li><a class="active"  href="/overlook">Overlook</a></li>
            <li><a href="/balance_sheet">Balance Sheet</a></li>
            <li><a href="/tab_3">Account</a></li>
            <li><a href="/tab_4">Income Statement</a></li>
            <li><a href="/tab_5">Employees</a></li>
            <li><a href="/tab_6">Transactions</a></li>
        </ul>

		<div class="main">
			<h1>Corporate Overlook</h1>
			<h3>Openbooks is where your company thrives</h3>
			<p>TEMP DATA</p>
            <iframe src="https://www.hyundaiusa.com/us/en/vehicles/tucson?&chid=sem&fb=hyu_bnd_husa&CID=20166438&PID=202442677&CRID=0&SID=4075918&AID=402292811&ds_query=hyundai&ads_rl=8525728681&ads_rl=8564258320&&&&ds_rl=1280782&ds_rl=1285803&ds_rl=1277805&gad_source=1&ds_rl=1277805&gclid=Cj0KCQiAx9q6BhCDARIsACwUxu7tQTdXhFBGeSdFlVOZyjvZAEJBu_jtqZq_kcT76ChQEBl5vfoquU8aApRPEALw_wcB&gclsrc=aw.ds"  height="700" width="600"></iframe>
		</div>
    </body>
</html>
