<!DOCTYPE html>
<html>
<head>
    <title>Openbooks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='tabs.css') }}">
</head>
<body>
    <ul>
        <li><a class="active" href="/">Login</a></li>  </li>
        <li><a href="/home">Home</a></li>
        <li><a href="/overlook">Overlook</a></li>
        <li><a href="/balance_sheet">Balance Sheet</a></li>
        <li><a href="/tab_3">Account</a></li>
    </ul>

    <div class="main">
        <h1>Openbooks Login</h1>
        <h3>Please use our login!</h3>
        <a href="/login" class="logInBtn">Login</a>  </div>
        <script>

        </script>

</body>
</html>
